Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

In [7]:
data = [4,8,15,16,23,42]
Series = pd.Series(data)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
for ver_lst in range (1,12) :
    
    Series1 = pd.Series(ver_lst)
    print(Series1)

0    1
dtype: int64
0    2
dtype: int64
0    3
dtype: int64
0    4
dtype: int64
0    5
dtype: int64
0    6
dtype: int64
0    7
dtype: int64
0    8
dtype: int64
0    9
dtype: int64
0    10
dtype: int64
0    11
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name

Alice
Bob
Claire

Age

25
30
27

Gender

Female
Male
Female

In [9]:
import pandas as pd
data = { 'Name' : ['Alice', 'Bob','Clair'],
        ' Age' : ['25','30','27'] ,
        'Gender' : ['Female' , 'Male', 'Female']}
Series = pd.DataFrame(data)
print(Series)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

--> 
In Pandas, a DataFrame is a two-dimensional data structure that represents tabular data, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can contain different data types (e.g., numbers, strings, etc.) the best example of pandas.series ig given above.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

---> 
Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions: 
1) head()
2) tail()
3) info()
4) describe()
5) groupby()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options given (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not mutable.

In Pandas, a mutable object can be modified after its creation. Let's examine each option:

1) Series: A Series in Pandas is mutable, meaning you can modify its elements, change its values, or add/remove elements after its creation.

2) DataFrame: Similarly, a DataFrame is also mutable. You can modify its columns, add or remove rows, update values, and perform various operations to manipulate the data within the DataFrame.

3) Panel: However, Panel is not mutable. Panels were previously a data structure in Pandas that could hold multiple DataFrames along the third axis. However, as of Pandas version 0.25.0, Panels have been deprecated, and it is recommended to use multi-indexing or other alternatives. Panels are not commonly used in recent versions of Pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd


names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])


data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female