Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration}) 

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [10]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [11]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [17]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

---> loc: This function is primarily used for label-based indexing. It accepts label-based arguments to locate and retrieve data. The syntax for loc is df.loc[row_label, column_label], where row_label and column_label can be a single label or a list of labels

iloc: This function is used for integer-based indexing. It accepts integer-based arguments to locate and retrieve data

Q3.Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [23]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices) 

reindex = [3,0,1,2]
new_df = df1.reindex(reindex)

In [26]:
new_df.loc[2]

column_1    0.871860
column_2    0.196009
column_3    0.878939
column_4    0.916665
column_5    0.304886
column_6    0.466607
Name: 2, dtype: float64

new_df.loc[2] returns the row with the label 2 after reindexing. In the new_df DataFrame, the label 2 corresponds to the third row.

In [27]:
new_df.iloc[2]

column_1    0.993963
column_2    0.685837
column_3    0.406650
column_4    0.324613
column_5    0.794593
column_6    0.837032
Name: 1, dtype: float64

new_df.iloc[2] returns the row at the integer index 2 after reindexing. In the new_df DataFrame, the integer index 2 corresponds to the second row.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.993963  0.685837  0.406650  0.324613  0.794593  0.837032
2  0.871860  0.196009  0.878939  0.916665  0.304886  0.466607
3  0.342710  0.636537  0.149210  0.090722  0.641219  0.781658
4  0.030591  0.427767  0.970567  0.769120  0.199395  0.709977
5  0.278560  0.418312  0.461207  0.307599  0.179280  0.222689
6  0.627818  0.573584  0.232510  0.181678  0.265524  0.262568

In [30]:
df1.mean()

column_1    0.524250
column_2    0.489674
column_3    0.516514
column_4    0.431733
column_5    0.397483
column_6    0.546755
dtype: float64

In [31]:
df1['column_2'].std()

0.18014085856742726

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [5]:


data = {'column_1': [1, 2, 3, 4],
        'column_2': [5, 6, 7, 8],
        'column_3': [9, 10, 11, 12]}
df = pd.DataFrame(data)


df.loc[1, 'column_2'] = 'replacement_string'


df['column_2'] = pd.to_numeric(df['column_2'], errors='coerce')
                               
mean_column_2 = df['column_2'].mean()

In [6]:
mean_column_2

6.666666666666667

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, the "window function" refers to a powerful tool that allows you to perform calculations on a specified subset of data called a "window." This window can slide or roll over your dataset, enabling you to apply various operations and transformations to the data within the window

1) Rolling Window Functions: These functions compute values over a fixed-size rolling window defined by the number of preceding or following observations

2) Expanding Window Functions: Expanding functions consider all the data points from the start of the data up to the current point.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [13]:
current_date = pd.to_datetime('today')

current_month = current_date.month
current_year = current_date.year

print(f'current month : {current_month}')
print(f'current year : {current_year}')

current month : 6
current year : 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [18]:
import pandas as pd


date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")


date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)


time_diff = date2 - date1


days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60


print(f"Difference: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-06-30
Enter the second date (YYYY-MM-DD):  2023-08-03

Difference: 34 days, 0 hours, 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd


file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to conver: ")
category_order = input("Enter the category order (comma-separated values): ").split(',')


data = pd.read_csv(file_path)


data[column_name] = pd.Categorical(data["student_id"], categories=category_order, ordered=True)


sorted_data = data.sort_values(column_name)


print(sorted_data)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


file_path = input("Enter the file path of the CSV: ")


df = pd.read_csv(file_path)

grouped_df = df.groupby('Product Category')['Sales'].sum()


grouped_df.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set labels and title
plt.xlabel('Product Category')
plt.ylabel('Sales')
plt.title('Sales by Product Category')

# Show the chart
plt.show()

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.